*{
  padding: 0;
  margin: 0;
  font-family: Arial;
}



label, input{
  display: block;
  line-height: 30px;
  height: 30px;
  outline: none;
  font-size: 13pt;
  width: 100%;
}

form{
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 30px auto;
}

input[type="submit"]{
  margin-top: 10px;
  cursor: pointer;
}

h2{
  text-align: center;
  color: rgba(0, 0, 0, 0.655);
}

#esquerda{
  width: 35%;
  height: 500px;
  float: left;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

#direita{
  width: 65%;
  height: 500px;
  float: left;
}

table{
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  margin: 30px auto;
}

tr{
  line-height: 30px;
}
tr#titulo{
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.252);
  color: white;
}
 td{
  padding: 0px 5px;
 }

 a{
  padding: 5px;
  margin: 0px 5px;
  text-decoration: none;
  background-color: white;
  color: black;
 }


